<!DOCTYPE html>
<link href="~/StyleSheet.css" rel="stylesheet" />
<h1>Time People of the Year: 1927 - 2016</h1>
<div id="timebox">
    <p>TIME</p>
</div>
<h2>Please select a range of years to view People Of The Year:</h2>
<form method="post">

    <label name="startYear">Start Year</label>
    <input name="startYear" />

    <label name="endYear">End Year</label>
    <input name="endYear" />

    <button type="submit">Submit</button>

</form>

